<p style="color: green"><%= notice %></p>

<h1>Characters</h1>

<%= render "characters", characters: @characters %>

<button type="submit">Submit Selected</button>

<%= link_to "New character", new_character_path %>
